* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6c6c6c;
}
body .container {
  width: 50vw;
  min-width: 400px;
  margin: 0 auto;
}
body #startApp {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 8px;
  transition: 0.2s ease-in;
}
body #startApp:hover {
  background-color: rgb(211, 209, 209);
}
body #name-fake-input {
  border-radius: 8px;
  padding: 20px;
}
body #name-fake-input .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body #name-fake-input .container .input-wrapper {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}
body #name-fake-input .container .input-wrapper label {
  font-size: 20px;
  font-weight: 600;
}
body #name-fake-input .container #generateBtn {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 8px;
  max-width: fit-content;
}
body #name-fake-input .container select::-ms-expand {
  display: none;
}
body #name-fake-input .container select {
  width: 100px;
  padding: 5px 10px 5px 5px;
  border-radius: 8px;
  outline: none;
  border: none;
}
