@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2637;
}
body .container {
  min-width: 400px;
  margin: 0 auto;
}
body #button-wrapper {
  display: flex;
  gap: 0 10px;
}
body #button-wrapper .buttons {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 8px 25px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  transition: 0.2s ease-in;
  position: relative;
  color: #1f2637;
  background-color: #212a3e;
  color: #9BA4B5;
  border: 1px solid #9BA4B5;
}
body #button-wrapper .buttons::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  background-color: rgba(118, 127, 146, 0.4235294118);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s ease-in-out;
}
body #button-wrapper .buttons:hover::after {
  transform: scaleX(1);
}
body #name-fake-input,
body #cat-and-dog-input {
  border-radius: 8px;
  padding: 20px;
}
body #name-fake-input .container,
body #cat-and-dog-input .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body #name-fake-input .container .input-wrapper,
body #cat-and-dog-input .container .input-wrapper {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}
body #name-fake-input .container .input-wrapper label,
body #cat-and-dog-input .container .input-wrapper label {
  font-size: 20px;
  font-weight: 600;
}
body #name-fake-input .container #generateBtn,
body #cat-and-dog-input .container #generateBtn {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 8px;
  max-width: fit-content;
}
body #name-fake-input .container select::-ms-expand,
body #cat-and-dog-input .container select::-ms-expand {
  display: none;
}
body #name-fake-input .container select,
body #cat-and-dog-input .container select {
  width: 100px;
  padding: 5px 10px 5px 5px;
  border-radius: 8px;
  outline: none;
  border: none;
}
body #result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
body #result #animal-image {
  max-width: 200px;
  border-radius: 10px;
}
body #result #information {
  text-align: start;
  display: inline-flex;
  flex-direction: column;
  row-gap: 10px;
}
body #result #information div {
  text-transform: capitalize;
}
